/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
README1.MD
.env.testing
.env.example
.git-ftp-ignore
.styleci.yml
*.sh
*.yaml
.git
.vscode
/bootstrap/cache
/img
bak.yml
/tests/Browser/console/*
/tests/Browser/screenshots/*
unimportant.blade.php
database/migrations/not_important